/*
New
 */

.imageBook {
  margin: 15px;
  margin-top: 30px;
  height: $height - 4px;
  width: $width;
  border: 1px solid $darkBrown;
  background-color: $beige;
  @media (max-width: 800px) {
    margin-top: 5px;
    height: $height/2 - 2px;
    width: $width/2;
  }
}

.image-upload > input
{
  display: none;
}

.image-upload img
{
  width: 100%;
  cursor: pointer;
  padding-left: (25%+2);
  padding-right: (25%+2);
  padding-top: (50%+5);
  padding-bottom: (50%+10);
}

#file-input {
  display: none;
}

.DataBook{
  height: 45%;
  @media (max-width: 800px) {
    height: auto;

  }
}

.DataBook > input {
  width: 100%;
  height: 30px;
  margin-bottom: 16px;

  @media (max-width: 800px) {
    margin-bottom: 5px;
    height: 40px;

  }
}

.SummaryBook {
  height: 39%;
  margin-top: 10px;
  @media (max-width: 800px) {

    display: grid;
    margin-bottom: 30px;
  }
}


.SummaryBook > textarea {
  height: 100%;
  width: 100%;

}






/*
Details
 */


.ImageBookDetail {

  width: 100%;
}

.DataBookDetails {
  width: 100%;
  height: 44%;
  margin-bottom: 16px;
  border: 1px solid $darkBrown;

  @media (max-width: 800px) {
    margin-bottom: 5px;
    height: auto;

  }
}

.DetailsBook {
  width: 100%;
}

.SummaryDetailsBook {
  height: 39%;
  margin-top: 10px;
  border: 1px solid $darkBrown;
  @media (max-width: 800px) {

    display: inherit;
    height: auto;
  }
}

.SummaryDetailsBook > .summary {
  padding-bottom: 20px;
}

