.bookImage {
    height: 430px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 20px;
}
  
.bookCard {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--beige);
    color: #000;
}
  
.bookCardArea {
    display: flex;
    width: 90%;
    margin: auto;
}
  
.bookText {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 20px;
}


.bookButton {
    background-color: var(--darkBrown);
    BORDER: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    width: 100%;
    font-size: 17px;
    font-family: 'Roboto', sans-serif; 
 }

 .bookAddArea {
     display: flex;
     width: 90%;
     margin: auto;
 }

 .bookAddAreaText {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    margin-bottom: 6%;
    width: 100%;
}

.bookInput{
    width: 100%;
    margin-bottom: 20px;
}

.bookAddTextData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data {
    margin-right: 20px;
}

.resume{
    height: 60%;
}

.bookAddAreaImage {
    width: auto;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-right: 50px;
}

.bookAddImage {
    line-height: 60vh;
    text-align: center;
    height: 60vh;
    width: 400px;
    border-style: solid;
}