:root {
    --size: 250px;
    --beige: #E8C29F;
    --darkBrown : #59100A;
    --background : #F2F2F2F2;
    --hardDarkBrown : #400B06;
}

.Page {
    min-height: calc(100vh - var(--size));
}

.body {
    background-color: var(--background);
}

.footerArea {
    background-color: var(--darkBrown);
    height: 100px;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}

.headerArea {
    background-color: var(--beige);
    display: block;
}
  
.logo {
margin-left: 20px;
margin-right: 20px;
}

