
.menuButton {
  background-color: $darkBrown;
  border-left: 1px solid $beige;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  width: 100%;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 800px) {
    border-left: 0;
    border-bottom: 1px solid $beige;
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

.Button {
  background-color: $darkBrown;
  BORDER: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 100%;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 800px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}


.ButtonSlide{
  color: $beige;
  background-color: $darkBrown;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}



.ButtonInSlide {
  width: 90%;
  right: 130px;
  top: 430px;
  left : 15px;
  position: fixed;

  @media (max-width: 800px){

    top: 415px;
  }
}


.ButtonLogin {
  background-color: $darkBrown;
  BORDER: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 100%;
  font-size: 17px;
  margin-right: 10%;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 800px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

.ButtonBook {
  background-color: $darkBrown;
  BORDER: none;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  width: 100%;
  font-size: 17px;
  margin-right: 10%;
  font-family: 'Roboto', sans-serif;

  @media (max-width: 800px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

}

