.footer {
  background-color: $darkBrown;
  height: 100px;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  bottom:0;

  @media (max-width: 800px){
    bottom:auto;
  }
  @media (max-height: 800px){
    bottom:auto;
  }

}

.footerLogin{
  background-color: $darkBrown;
  height: 100px;
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
  position:absolute;
  bottom:0;

  @media (max-height: 800px) and( max-width: 800px){
    bottom : auto
  }
}






