/**
 * Created by PhpStorm.
 * User: Cyril.GOLDENSCHUE
 * Date: 28/10/2020
 */


$size : 250px;
$beige : #E8C29F;
$darkBrown : #59100A;
$background : #F2F2F2F2;

body{
  height: 100%;
  position:relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $background;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: none;
  color: white;
}

main.Home {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main.BasePage {
  margin:auto;
  display: flex;
  justify-content: center;
  width: 90%;
}












.columnBook {
  margin: auto;
  margin-top: 0;
  width: 48.5%;
  min-width: 400px;


}

.rowBook {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}












@import "NewBook";
@import "button";
@import "homePage";
@import "Footer";
@import "Header";
@import "Login";