/**
 * Created by PhpStorm.
 * User: Cyril.GOLDENSCHUE
 * Date: 28/10/2020
 */


$size : 250px;
$beige : #E8C29F;
$darkBrown : #59100A;

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2F2;
}

main.BasePage {
  display: block;
  justify-content: center;
  height: 100%;
}

header.desktop{

  background-color: $beige;
  display: block;

}







.heading {
  display: flex;
}

.logo {
  background-image: url(/Assets/image/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
  width: $size;
  height: $size/2;
  margin-left: 20px;
  margin-right: 0;
}

.menu {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}


.textLogin{
  width: 100%;
}

table.textLogin{
  border-spacing : 10px;
}

.login {
  width: 100%;
  text-align: right;
  margin: auto;
}



main.Home {
  margin: 10px;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.IconNew {
  background-color: $darkBrown;
  color: $beige;
  float: right;
  BORDER: none;
  border-radius: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-size: 15px;
}

.News > *{
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}










.column {
  margin: auto;
  width: 48.5%;
  min-width: 500px;
  padding-left: 5px;
  padding-right: 10px;
}

.row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}











.footer {
  background-color: $darkBrown;
  height: 100px;
  color: white;
  font-family: 'Roboto', sans-serif;

}

@import "NewBook";
@import "button";
