/**
 * Created by PhpStorm.
 * User: Cyril.GOLDENSCHUE
 * Date: 28/10/2020
 */


$size : 250px;
$beige : #E8C29F;
$darkBrown : #59100A;
$background : #F2F2F2F2;
$hardDarkBrown : #400B06;

body{
  min-height: 100vh;
  position:relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $background;
}

a:link {
  text-decoration: none;
}

a:link:hover {
  text-decoration: none;
  color: white;
}

main.BasePage {
  height: auto;
  margin:auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}












.columnLogin {
  margin: auto;
  margin-top: 0;
  width: 48.5%;
  min-width: 400px;


}

.columnBook {
  margin-top: 30px;
  display: flex;
  width: 48.5%;
  min-width: 400px;

  @media (max-width: 800px) {
    margin-top: 5px;
  }


}

.rowBook {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}












@import "button";
@import "homePage";
@import "Footer";
@import "Header";
@import "Login";
@import "Book";
@import "Loan";